###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
B Project/Assets/Scripts/AI/Action.cs
B Project/Assets/Scripts/AI/ActionDebug.cs
B Project/Assets/Scripts/AI/ActionEvent.cs
B Project/Assets/Scripts/AI/ActionItem.cs
B Project/Assets/Scripts/AI/ActionDebug.cs.meta
B Project/Assets/Scripts/AI/ActionList.cs.meta
B Project/Assets/Scripts/AI/ActionEvent.cs.meta
B Project/Assets/Scripts/AI/Action.cs.meta
B Project/Assets/Scripts/AI/ActionList.cs
B Project/Assets/Scripts/AI/RiveScript.meta
B Project/Assets/Scripts/AI/ActionItem.cs.meta